<?xml version="1.0"?>
<plugin
	name="Liberty Devex"
	id="io.openliberty.devex"
	version="0.0.0"
	provider-name="OTI">
	
    <requires>
	<import plugin="org.eclipse.core.resources"/>
        <import plugin="org.eclipse.ui"/>
    </requires>

    <runtime>
	<library name="liberty-devex.jar"/>
    </runtime>
    
    <extension point = "org.eclipse.ui.menus">
        <menuContribution
        	allPopups="false"
    		locationURI="popup:org.eclipse.ui.popup.any">
        	<!-- "popup:edit/copy?after=org.eclipse.jdt.ui.actions.CopyQualifiedName" -->
			<command 
				commandId="io.openliberty.devex.CopyForTest"
				label="Copy For Test"
				tooltip="Copy the gradle command to run this as an OpenLiberty test">
			 </command>
    	</menuContribution>

    </extension>
    
    <extension point = "org.eclipse.ui.handlers">
       <handler
             class="io.openliberty.devex.CopyForTestAction"
             commandId="io.openliberty.devex.CopyForTest">
       </handler>
    
    </extension>
</plugin>
